body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;

}
.orange-color{
    color: orange;
    font-size: 55px;
}
.gray-color{
    color:black;
    font-size: 55px;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width:80%;
}
section p{
    font-size: 20px;
    color: gray;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(tomato,orange);
    padding: 15px 40px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
}
.about-me{
    background-image: url(images/7.png);
    padding-top: 5%;
    background-repeat: no-repeat;

}